{% extends 'base_simple.html.twig' %}

{% block title %}Reset password{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('public/css/login.css') }}">
{% endblock %}

{% block body %}
    <div class="reset-password-wrapper">
        {% if error %}
            <div class="grid-container">
                <div class="grid-x grid-padding-x text-center" style="margin-bottom: 1rem">
                    <div class="cell">
                        <div class="font-bold" style="font-size: 18px">Oh no, something went wrong!</div>
                        <div style="margin-top: 1rem">
                            <span class="font-medium">The link you entered is not valid.</span> Maybe you entered the wrong link or you exceeded the time limit. You can request a new password through the button below.
                        </div>
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="cell">
                        <a class="button red-button" href="{{ path('default_forgot_password') }}" style="width: 100%">Request a new password</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="state" data-state="1">
                <form method="post">
                    <div class="grid-container">
                        <div class="grid-x grid-padding-x text-center" style="margin-bottom: 1rem">
                            <div class="cell">
                                <div class="font-bold" style="font-size: 18px">Reset Password?</div>
                            </div>
                        </div>
                        <div class="grid-x grid-padding-x">
                            <div class="cell">
                                <label>Enter new Password<span class="color-red">*</span>
                                    <input type="password" name="password" id="inputPassword" placeholder="At least 4-16 Characters" autocomplete="password" required autofocus minlength="4">
                                </label>
                            </div>
                            <div class="cell">
                                <label>Verify new Password<span class="color-red">*</span>
                                    <input type="password" name="passwordRepeat" id="inputPasswordRepeat" required minlength="4">
                                </label>
                            </div>
                            <div class="cell color-red text-center" id="error" style="margin-bottom: 1rem; font-size: 14px; display: none;">
                                Password does not match.
                            </div>
                        </div>
                        <div class="grid-x grid-padding-x">
                            <div class="cell medium-6">
                                <button class="button red-button" type="submit">Confirm</button>
                            </div>
                            <div class="cell medium-6 text-right">
                                <a class="button" href="{{ path('default_index') }}">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="state" data-state="2" style="display: none">
                <div class="grid-container">
                    <div class="grid-x grid-padding-x text-center" style="margin-bottom: 1rem">
                        <div class="cell">
                            <div class="font-bold" style="font-size: 18px">Success!</div>
                            <div style="margin-top: 1rem">
                                <span class="font-medium">Your password has been changed!</span>
                            </div>
                        </div>
                    </div>
                    <div class="grid-x grid-padding-x">
                        <div class="cell">
                            <a class="button red-button" href="{{ path('default_index') }}" style="width: 100%">Return to Login Page</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <hr>
        <div class="text-center powered-by">
            Powered by <a href="https://profq.eu?source={{ utm_param_profq }}" target="_blank">ProfQ</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% if not error %}
        <script>
            $('form').on('submit', (event) => {

                event.preventDefault();

                let password = $('#inputPassword').val();
                let password_repeat = $('#inputPasswordRepeat').val();

                if(password !== password_repeat) {

                    $('input').addClass('error');
                    $('#error').show();

                    return false;
                }

                $.ajax({
                    url: Routing.generate('default_reset_password', { hash: '{{ hash }}' }),
                    method: 'POST',
                    data: {
                        password: password
                    },
                    responseType: 'json'
                }).then((response) => {
                    $('.state[data-state="1"]').remove();
                    $('.state[data-state="2"]').show();
                })
            })
        </script>
    {% endif %}
{% endblock %}