{% extends 'base.html.twig' %}

{% block title %}Sign in{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('public/css/login.css') }}">
{% endblock %}

{% block body %}
    <div class="login-wrapper">
        <form method="post">
            <div class="grid-container">
                <div class="grid-x grid-padding-x text-center" style="margin-bottom: 1rem">
                    <div class="cell">
                        <h2>Welcome to ProfQ!</h2>
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="cell">
                        <label>Email address
                            <input type="email" name="email" id="inputEmail" placeholder="Your email address" {% if last_username %}value="{{ last_username }}"{% endif%} autocomplete="email" required autofocus>
                        </label>
                    </div>
                    <div class="cell">
                        <label>Password
                            <input type="password" name="password" id="inputPassword" placeholder="Your password" autocomplete="current-password" required>
                        </label>
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="cell medium-6">
                        <input name="_remember_me" id="_remember_me" type="checkbox"><label for="_remember_me" style="font-size: 14px">Remember me?</label>
                    </div>
                    <div class="cell medium-6 text-right">
                        <a href="#" style="font-size: 14px">Forgot password?</a>
                    </div>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    <div class="cell">
                        <button class="button float-right" type="submit">Sign in</button>
                    </div>
                </div>
            </div>
        </form>
        <hr>
        <div class="text-center powered-by">
            Powered by <a href="https://profq.eu?source={{ utm_param_profq }}" target="_blank">ProfQ</a>
        </div>
    </div>
{% endblock %}

{#    {% if error %}#}
{#        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
{#    {% endif %}#}