{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('public/css/login.css') }}">
{% endblock %}

{% block body %}
    <div class="login-wrapper">
        <form method="post">
            <div class="grid-container">
                <div class="grid-x grid-padding-x">
                    <div class="cell">
                        <label>E-Mail-Adresse
                            <input type="email" name="email" id="inputEmail" placeholder="Deine E-Mail-Adresse" {% if last_username %}value="{{ last_username }}"{% endif%} autocomplete="email" required autofocus>
                        </label>
                    </div>
                    <div class="cell">
                        <label>Passwort
                            <input type="password" name="password" id="inputPassword" placeholder="Dein Passwort" autocomplete="current-password" required>
                        </label>
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="cell">
                        <input name="_remember_me" id="_remember_me" type="checkbox"><label for="_remember_me">Eingeloggt bleiben?</label>
                    </div>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    <div class="cell">
                        <button class="button float-right" type="submit">Einloggen</button>
                    </div>
                </div>
            </div>
        </form>
        <hr>
        <div class="text-center powered-by">
            Powered by <a href="https://profq.eu?source={{ utm_param_profq }}" target="_blank">ProfQ</a>
        </div>
    </div>
{% endblock %}

{#    {% if error %}#}
{#        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
{#    {% endif %}#}