{% set utm_param_profq = 'profq.eu'|hash %}
{% set route_name = app.request.attributes.get('_route') %}

<!DOCTYPE html>
<html class="no-js" lang="de">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>{% block title %}{% endblock %} | Time Tracker</title>

        <link rel="stylesheet" href="{{ asset('public/_vendor/foundation/css/foundation.min.css') }}">

        <link rel="stylesheet" href="{{ asset('public/css/reset.css') }}">
        <link rel="stylesheet" href="{{ asset('public/css/global.css') }}">

        {% if route_name != 'app_login' %}
            <style>
                .grid-container {
                    margin-top: 30px;
                }
            </style>
        {% endif %}

        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        {% if route_name != 'app_login' and route_name != 'default_forgot_password' %}
            {% include '_components/navbar.html.twig' %}
        {% endif %}

        {% block body %}{% endblock %}

        <script src="{{ asset('public/_vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('public/_vendor/what-input/what-input.min.js') }}"></script>
        <script src="{{ asset('public/_vendor/foundation/js/foundation.min.js') }}"></script>

        <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

        <script>
            $(document).foundation();
        </script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
