{% extends 'base.html.twig' %}

{% block title %}Board{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('public/css/app.css') }}">
{% endblock %}

{% block body %}
    <div class="grid-container fluid" id="app-index">
        <div class="grid-x grid-margin-x">
            <div class="cell large-6">
                <h2>Current Projects</h2>
                
                <div class="project-list-wrapper">
                    <div class="project-list-sort">
                        <div style="visibility: hidden">Sort by</div>
                        <ul>
                            <li data-sort-term="time">Time Total</li>
                            <li data-sort-term="priority">Priority</li>
                            <li data-sort-term="status">Status</li>
                        </ul>
                    </div>

                    <div class="project-list">
                        {% for project in projects %}
                            <div class="project-item{% if active_project %} {% if project.id == active_project %}active-project{% else %}disabled-project{% endif %}{% endif %}" data-project-id="{{ project.id }}">
                                <div class="project-item-header">
                                    <div class="project-item-name">
                                        {{ project.name }}
                                        {% if project.description %}
                                            <br/>
                                            <span>{{ project.description }}</span>
                                        {% endif %}
                                    </div>
                                    <div class="project-item-stats">
                                        <div class="project-item-stats-time">{{ project.total_time }}</div>
                                        <div data-tooltip class="top project-item-stats-prio" data-click-open="false" tabindex="2" title="{{ project.projectPriority.name }}">
                                            <span style="background-color: {{ project.projectPriority.colorCode }}"></span>
                                        </div>
                                        <div data-tooltip class="top project-item-stats-status" data-click-open="false" tabindex="2" title="{{ project.state.name }}">
                                            <span {% if project.state.filledQuarters >= 1 %}class="filled"{% endif %}></span>
                                            <span {% if project.state.filledQuarters >= 2 %}class="filled"{% endif %}></span>
                                            <span {% if project.state.filledQuarters == 3 %}class="filled"{% endif %}></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="project-item-body">
                                    <div class="project-item-deadline">
                                        Deadline: {% if project.deadline %}{{ project.deadline|date("d.m.Y") }}{% else %}Unknown{% endif %}
                                    </div>
                                    <div class="project-item-checkinout" data-type="{% if active_project %}{% if project.id == active_project %}checkout{% else %}checkin{% endif %}{% else %}checkin{% endif %}">
                                        {% include '_components/checkinout-svg.html.twig' %}
                                    </div>
                                </div>
                                <div class="project-item-footer">
                                    <div class="project-item-projectmanagement">
                                        PM: <a href="mailto:{{ project.management.email }}?subject=%5BTime%20Tracker%20-%20Direct%20Board%5D%20{{ project.name|url_encode }}">{{ project.management.firstname }} {{ project.management.lastname }}</a>
                                    </div>
                                    <a href="{{ path('app_project_show', {'id': project.id}) }}" target="_blank" class="project-item-more">
                                        About the project
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="cell large-5 large-offset-1">2</div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/js/app-index.js') }}"></script>
{% endblock %}